/target
**/*.rs.bk
mmal/plugins/plugins/writer_raw_video.so
mmal/plugins/plugins/writer_mp4.so
mmal/plugins/plugins/writer_dummy.so
mmal/plugins/plugins/writer_binary.so
mmal/plugins/plugins/writer_avi.so
mmal/plugins/plugins/writer_asf.so
mmal/plugins/plugins/reader_wav.so
mmal/plugins/plugins/reader_simple.so
mmal/plugins/plugins/reader_rv9.so
mmal/plugins/plugins/reader_rtsp.so
mmal/plugins/plugins/reader_rtp.so
mmal/plugins/plugins/reader_rcv.so
mmal/plugins/plugins/reader_raw_video.so
mmal/plugins/plugins/reader_qsynth.so
mmal/plugins/plugins/reader_ps.so
mmal/plugins/plugins/reader_mpga.so
mmal/plugins/plugins/reader_mp4.so
mmal/plugins/plugins/reader_mkv.so
mmal/plugins/plugins/reader_metadata_id3.so
mmal/plugins/plugins/reader_flv.so
mmal/plugins/plugins/reader_binary.so
mmal/plugins/plugins/reader_avi.so
mmal/plugins/plugins/reader_asf.so
mmal/pkgconfig/vcsm.pc
mmal/pkgconfig/mmal.pc
mmal/pkgconfig/brcmvg.pc
mmal/pkgconfig/brcmglesv2.pc
mmal/pkgconfig/brcmegl.pc
mmal/pkgconfig/bcm_host.pc
mmal/libvcsm.so
mmal/libvcos.so
mmal/libvcilcs.a
mmal/libvchostif.a
mmal/libvchiq_arm.so
mmal/libopenmaxil.so
mmal/libmmal_vc_client.so
mmal/libmmal_util.so
mmal/libmmal_core.so
mmal/libmmal_components.so
mmal/libmmal.so
mmal/libkhrn_static.a
mmal/libkhrn_client.a
mmal/libGLESv2_static.a
mmal/libelftoolchain.so
mmal/libEGL_static.a
mmal/libdtovl.so
mmal/libdebug_sym_static.a
mmal/libdebug_sym.so
mmal/libcontainers.so
mmal/libbrcmWFC.so
mmal/libbrcmOpenVG.so
mmal/libbrcmGLESv2.so
mmal/libbrcmEGL.so
mmal/libbcm_host.so
mmal/plugins/plugins/writer_simple.so
